<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bu.edu.cs673.edukid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/edukidicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EDUkid" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".learn.LearnContentView" android:screenOrientation="landscape"></activity><activity android:name=".learn.grid.LearnContentGridView" android:screenOrientation="landscape"></activity><activity android:name=".settings.SettingsView" android:screenOrientation="landscape"></activity>
        <activity android:name=".account.AccountCreationView" android:screenOrientation="landscape"></activity>
        
        
    </application>

</manifest>
